Workflow.json
{
  "name": "Pruebatech",
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "12AQuAQ5rz1XstTzo7hWGqayQvCjHmxvAef16RnpOrYI",
          "mode": "list",
          "cachedResultName": "Prueba tech",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12AQuAQ5rz1XstTzo7hWGqayQvCjHmxvAef16RnpOrYI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12AQuAQ5rz1XstTzo7hWGqayQvCjHmxvAef16RnpOrYI/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "ClientID",
              "lookupValue": "={{ $json.body.ClientID }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        272,
        -160
      ],
      "id": "dfa0afcf-349a-470b-a14b-e8957ffc6604",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "B3Nmet8ARXfG6jBt",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Webhook').item.json.body.Message }}",
        "options": {
          "systemMessage": "Eres una asistente virtual que ayuda a los clientes a resolver dudas y realizar reservas de espacios (por ejemplo: salas, canchas, oficinas, zonas sociales, etc.).\nTu función es interpretar el mensaje del cliente, responderle de forma amable y clasificar la conversación en una etapa según el contexto.\n\nDebes inventar detalles de la reserva o contexto si es necesario para mantener una conversación fluida y natural.\n\nSiempre responde solo en formato JSON con la siguiente estructura:\n\n{\n  \"mensaje\": \"Texto de respuesta natural y amable al cliente.\",\n  \"etapa\": \"Valor entre: Nuevo | Atendiendo | Cancelado | Interesado | Reservado\"\n}\n\n📋 Guía para clasificar la etapa:\n\nNuevo: El cliente inicia contacto o hace una consulta general.\n\nAtendiendo: Estás respondiendo preguntas o gestionando la solicitud actual.\n\nInteresado: El cliente muestra intención clara de reservar, pero aún no confirma.\n\nReservado: La reserva fue confirmada o agendada exitosamente.\n\nCancelado: El cliente o el asistente cancela la reserva.\n\n💬 Ejemplos:\n\nEntrada:\n\nHola, ¿qué espacios tienen disponibles para este fin de semana?\n\nSalida:\n\n{\n  \"mensaje\": \"¡Hola! Tenemos disponibles la sala de reuniones y la cancha de fútbol para este fin de semana. ¿Deseas que te reserve alguno?\",\n  \"etapa\": \"Nuevo\"\n}\n\n\nEntrada:\n\nSí, quiero reservar la cancha el sábado a las 10 a.m.\n\nSalida:\n\n{\n  \"mensaje\": \"Perfecto, he registrado tu reserva para la cancha el sábado a las 10 a.m. ¡Te esperamos!\",\n  \"etapa\": \"Reservado\"\n}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        480,
        -160
      ],
      "id": "61e6f107-5686-415d-bbed-68e05138aee7",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        416,
        80
      ],
      "id": "b327337b-13cf-445d-98f8-6da5ca33feb3",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "JlpMEs1rI5Z9B5lI",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.body.ClientID }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        544,
        96
      ],
      "id": "cb3d238e-bb6e-4b40-90e0-d7dd7503cef2",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "12AQuAQ5rz1XstTzo7hWGqayQvCjHmxvAef16RnpOrYI",
          "mode": "list",
          "cachedResultName": "Prueba tech",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12AQuAQ5rz1XstTzo7hWGqayQvCjHmxvAef16RnpOrYI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12AQuAQ5rz1XstTzo7hWGqayQvCjHmxvAef16RnpOrYI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nota": "={{ $json.mensaje }}",
            "ClientID": "={{ $('Webhook').item.json.body.ClientID }}",
            "Pipeline": "={{ $json.etapa }}"
          },
          "matchingColumns": [
            "ClientID"
          ],
          "schema": [
            {
              "id": "ClientID",
              "displayName": "ClientID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Pipeline",
              "displayName": "Pipeline",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nota",
              "displayName": "Nota",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1040,
        -160
      ],
      "id": "f7556b44-72ea-4293-902a-bbe909dce4f4",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "B3Nmet8ARXfG6jBt",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "Pruebatech",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        64,
        -160
      ],
      "id": "df783336-86ef-4851-a9dd-51f9cc5e8368",
      "name": "Webhook",
      "webhookId": "da9567e2-2271-421e-9794-e48d29256dac"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        832,
        -160
      ],
      "id": "af241c4b-2524-4a56-872f-d26381763a58",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "905079d5-f58e-4fb6-9860-c600738ad6b5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b9c562815ee47d956186cab6f903dcb5aee157be88b44b23a597285be1fd3f5a"
  },
  "id": "teUQcFFunUa6kN4a",
  "tags": []
}